*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    background: crimson;
}

header{
    padding: 20px;
    margin: 12px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.comingSoon{
    color: #fff;
    font-weight: bolder;
    padding: 25% 0;
    text-align: center;
    font-size: 50px;
}

.vision{
    line-height: 130px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}