
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

h1{
    text-align: center;
    text-transform: capitalize;
    padding: 35px; 
}

li{
    list-style: none;
}

.textArea{
    padding: 20px;
    margin: 5px;
    display: flex;
    position: relative;
}

.doButton{
    padding: 20px;
    position: absolute;
    left: 17em;
    top: 3.5em;
}

.btn{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    color: #fff;
}

#writeText{
    padding:10px;
    font-weight: bolder;
}

h2{
    padding: 10px;
    margin: 10px;
}

.newNotes{
    justify-content: center;
}

.newNotes li{
    padding:30px 50px;
    margin: 15px;
    font-size: 20px;
    border: 2px solid crimson;
    border-width: 5px;
    border-radius: 10px;
    width: 90% !important;
}


@media screen and (max-width:500px){
    .doButton{
        left: 17.5em;
    }

    .newNotes li{
        padding: 29px 18px;
        width: 90% ! important;
    }

}
