
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background-color: tomato;
}

h1{
    text-align: center;
    text-transform: capitalize;
    padding: 35px; 
    font-family: 'Girassol', cursive;
}

li{
    list-style: none;
    font-family: 'Crimson Text', serif;
}

a{
    text-decoration: none;
    color: green;
}

.textArea{
    padding: 20px;
    margin: 5px;
    display: flex;
    position: relative;
}

.doButton{
    padding: 20px;
    position: absolute;
    left: 17em;
    top: 3.5em;
}

.btn{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    color: #fff;
}

#writeText{
    padding:10px;
    font-weight: bolder;
    border: 2px solid grey;
    outline: none;
    display: inline-block;
}

h2{
    padding: 10px;
    margin: 10px;
}

.newNotes{
    justify-content: center;
}

.newNotes li{
    padding:30px 50px;
    margin: 15px;
    font-size: 20px;
    border: 2px solid crimson;
    border-width: 5px;
    border-radius: 10px;
    width: 90% !important;
}

.noteBlock{
    border: 2px solid cyan;
}

.header{
    margin: 30px;
    font-size: 23.5px;
    font-weight: bolder;
}

.noteHeader{
    position: relative;
    right: 20px;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}

input{
    border: none;
    padding: 29px 20px;
    background-color:teal;
    color: #fff;
    outline: none;
    border-radius: 8px;
}

::placeholder{
    color: wheat;
    font-weight: bold;
}

h3{
    /* text-align: center; */
    text-transform: capitalize; 
    font-family: 'Girassol', cursive;
    /* text-decoration: underline; */
    border-bottom: 3px solid teal;
    padding: 10px 30px;
    margin: 10px;
    display: inline-block;
}

footer{
    text-align: center;
    padding: 70px 30px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

@media screen and (max-width:500px){
    .doButton{
        left: 16em;
    }

    .newNotes li{
        padding: 29px 18px;
        width: 90% ! important;
    }

    .noteBlock{
        border: 2px groove teal;
        margin: 15px;
        border-radius: 10px;
        padding: 40px 0;
    }
    .btn{
        padding: 10px;
    }

}
